<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stickoworld">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon1"
        android:label="@string/stickoworld"
        android:roundIcon="@mipmap/icon1"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.StickoWorld"
        tools:ignore="ExtraText">

        <activity android:name=".GoogleSignIn" />
        <activity android:name=".Profile"/>
        <activity android:name=".Aboutus"/>
        <activity android:name=".Invite"/>
        <activity android:name=".Settings"/>
        <activity android:name=".Helpme"/>
        <activity android:name=".Dashboard" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StickerGallery"
            android:exported="true"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="mystickerpack"/>
                <data android:host="com.example.stickoworld"/>
            </intent-filter>
        </activity>
        <service
            android:name=".AppIndexingUpdateService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>


</manifest>